.App {
  text-align: center;
  font-size: medium;
}

/* .AlwaysShow{
  position: fixed;
  min-width:100%;
} */

.TableContainer {
  padding: 5px;
  font-size: small;
  flex-grow: 2;
}

.dealtable {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.brandItemFilter {
  left: "10px";
  padding: "2px 20px";
  font-size: "small";
}

.branddealtable {
  display: flex;
}

.AllBrandsTableContainer {
  min-height: 80vh;
  padding: 10px;
}

.WrapperContainer {
  padding: 10px;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
}

.Footer {
  padding: 10px;
  background-color: black;
  color: white;
  text-align: right;
  bottom: 0px;
  position: inherit;
  height: 7.5vh;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  color: white;
}

.App-link {
  color: #61dafb;
}

.itemimg {
  width: 300px;
  height: 300px;
  animation-name: zoomin-d;
  animation-duration: 0.4s;
}

@keyframes zoomin-d {
  from {
    height: 200px;
    width: 200px;
  }

  to {
    height: 300px;
    width: 300px;
  }
}
